.button {
    font-size: 24px;
    color: darken($white-lilac, 5%);
    // color: lighten($dove-gray, 40%);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    //background-color: lighten($dove-gray, 50%);
    box-shadow: 2px 2px lighten($dove-gray, 10%);
    user-select: none;
    cursor: pointer;
    
    &:focus {
        outline: 0;
    }

    &:active {
        box-shadow: 0px 0px lighten($dove-gray, 10%);
        transform: translate(2px,2px);
        border-bottom: 0;
    }

    &_green {
        background-color: lighten($green, 10%);
        box-shadow: 2px 2px $green;

        &:active {
            box-shadow: 0px 0px darken($red, 10%);
        }
    }
    
    &_red {
        background-color: lighten($red, 10%);
        box-shadow: 2px 2px $red;
        
        &:active {
            box-shadow: 0px 0px $red;
        }
    }

    &_blue {
        color: $dove-gray;
        background-color: $periwinkle-gray;
        box-shadow: 2px 2px darken($periwinkle-gray, 10%);
        
        &:active {
            box-shadow: 0px 0px darken($periwinkle-gray, 10%);
        }
    }

    &_disabled {
        opacity: 0.5;
        color: lighten($dove-gray, 40%);
        cursor: default;
        &:active {
            transform: none;
            box-shadow: 2px 2px lighten($dove-gray, 10%);
        }
    }
}