//Colors
$dove-gray: #626262;
$white-lilac: #FCFBFE;
$chromo-green: #85FF9F;
$parchment: #F2E1D4;
$green: #459640;
$red: #AC0238;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway');
$julius-sans-one: 'Julius Sans One', sans-serif;
$raleway: 'Raleway', sans-serif;