.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .new-task {
        display: flex;
        flex-direction: row;
        //background-color: lighten($parchment, 10%);
    }

    & .tasks {
        color: $dove-gray;
        margin: 30px 0;
        width: 50%;
        
        & .task {
            text-align: center;
            min-width: 200px;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            margin: 10px 0;
            background-color: rgba(lighten($parchment, 5%), 0.4);
            
            &:hover {
                background-color: lighten($parchment, 5%);
            }

            &-controls {
                flex: 0.3;
                width: 70px; 
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            & .button {
                width: 30px;
                height: 30px;
                font-size: 18px;
            }

            & .title-input {
                font-size: 16px;
                display: flex;
                flex: 0.6;
            }

            &_completed {
                background-color: rgba($green, 0.1);

                &:hover {
                    background-color: rgba($green, 0.2);
                }

                & .title-input {
                    flex: 0.7;
                    text-decoration: line-through;
                }

                & .task-controls {
                    justify-content: center;
                }
            }
        }
    }
}