.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .new-task {
        display: flex;
        flex-direction: row;
        //background-color: lighten($parchment, 10%);

        & .title-input {
            margin-right: 10px;
            background-color: $white-lilac;
            font-size: 18px;
            color: $dove-gray;
            text-align: center;
            height: 40px;
            font-family: $raleway;
            outline: none;
            border: 0;
            border-bottom: 2px solid lighten($dove-gray,5%);
        }
    }

    & .tasks {
        color: $dove-gray;
        margin: 30px;
        width: 50%;
        
        & .task {
            text-align: center;
            min-width: 200px;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            margin: 10px;
            background-color: rgba(lighten($parchment, 5%), 0.4);
            
            &:hover {
                background-color: lighten($parchment, 5%);
            }

            &-controls {
                width: 70px; 
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
            }

            & .button {
                width: 30px;
                height: 30px;
                font-size: 18px;
            }
        }
    }
}