@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Raleway", sans-serif;
  background-color: #FCFBFE; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 18px; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
  background-color: #f8efe8;
  border-bottom: 5px solid #ecd3c0; }
  header .title {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: "Julius Sans One", sans-serif; }

.todo-list {
  display: flex;
  justify-content: center; }
  .todo-list .new-task .title-input {
    margin-right: 10px;
    background-color: #FCFBFE;
    font-size: 18px;
    color: #626262;
    text-align: center;
    height: 40px;
    font-family: "Raleway", sans-serif;
    outline: none;
    border: 0;
    border-bottom: 2px solid #6f6f6f; }
  .todo-list .new-task .submit-task-button {
    font-size: 24px;
    color: #e2e2e2;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #459640;
    border: 0;
    box-shadow: 2px 2px #357231; }
    .todo-list .new-task .submit-task-button:focus {
      outline: 0; }
    .todo-list .new-task .submit-task-button:active {
      box-shadow: 0px 0px #357231;
      transform: translate(2px, 2px);
      border-bottom: 0; }
